<div class="bar">
    <div class="bar-content">
        <div class="row center">
            <div class="col-3">
                <div class="bar__circle active"></div>
            </div>
            <div class="col-3">
                <div class="bar__circle"></div>
            </div>
            <div class="col-3">
                <div class="bar__circle"></div>
            </div>
            <div class="col-3">
                <div class="bar__circle"></div>
            </div>
        </div>
    </div>
</div>