<div class="calendar">
    <div class="calendar-row">
        <div class="calendar__day">Mo</div>
        <div class="calendar__day">Tu</div>
        <div class="calendar__day">We</div>
        <div class="calendar__day">Th</div>
        <div class="calendar__day">Fr</div>
        <div class="calendar__day">Sa</div>
        <div class="calendar__day">Su</div>
    </div>
    <div class="calendar-row">
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
        <div class="calendar__day">1</div>
    </div>
    <div class="calendar-row">
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
        <div class="calendar__day">2</div>
    </div>
    <div class="calendar-row">
        <div class="calendar__day">3</div>
        <div class="calendar__day">3</div>
        <div class="calendar__day">3</div>
        <div class="calendar__day active">3</div>
        <div class="calendar__day">3</div>
        <div class="calendar__day">3</div>
        <div class="calendar__day">3</div>
    </div>
    <div class="calendar-row">
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
        <div class="calendar__day">4</div>
    </div>
</div>