<div class="create active">
    <div class="create-wrapper">
        <div class="create-content">
            <div class="create__divider"></div>
            <input class="create__title" placeholder="Drawer Header"></input>
            <textarea class="create__description" placeholder="Consequat velit qui adipisicing sunt do reprehenderit ad laborum tempor ullamco exercitation."></textarea>
            <div class="create__button-ok">Create habit</div>
            <div class="create__button-cancel">Cancel</div>
        </div>
    </div>
</div>