.bar
    position: fixed
    bottom: 0
    z-index: 25
    left: 0
    right: 0
    height: 60px
    background-color: $bg
    padding: 14px 15px
    border-top: 1px solid #BDC5CD

    &-content
        max-width: 768px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        
    &__circle
        &::after
            content: ''
            display: block
            border-radius: 50%
            width: 32px
            height: 32px
            background-color: $gray
            margin: 0 auto

.bar
    &__circle.active
        &::after
            background-color: $green
