<div class="container">
    <div class="pb-50">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="flex align-center fd-xs-c">
                            <a href="https://labmedia.su/" target="_blank"><i class="q-icon footer-logo"></i></a>
                            <br class="hide-lg hide-md">
                            <span class="footer-info">© 2020 QOSY <br class="hide-lg hide-md">BUSINESS SCHOOL</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ta-r">
                <a href="https://labmedia.su/" target="_blank"><i class="q-icon labmedia"></i></a>
            </div>
        </div>
    </div>
</div>

