<div class="header mb-60 mb-xs-40">
    <div class="flex ai-c jc-sb pt-25">
        <div class="header-logo">
            <a href="/"><i class="q-icon black-logo"></i></a>
        </div>
        <div id="menu" class="header-menu mr-auto">
            <div class="hide-lg hide-md flex ai-fs">
                <div class="header-person w-100">
                    <!-- <span class="photo" style="background-image: url(../images/man.png);"></span> -->
                    <span class="initials">К.К.</span>
                    <span class="text">Моё обучение</span>
                    <span class="count">12</span>
                    <span class="name">Д. Константинопольский</span>
                </div>
                <div class="header-logout">
                    <i class="q-icon logout"></i>
                </div>
            </div>
            <div class="header-links">
                <a href="javascript:;" class="header-link">Каталог обучения</a>
                <a href="javascript:;" class="header-link">Контроль обучения</a>
                <a href="javascript:;" class="header-link">О компании</a>
            </div>
        </div>
        <div class="header-info">
            <div class="q-lang-selector mr-lg-20 mr-xs-30">
                <div class="q-lang-selector__title-wrapper">
                    <div class="q-lang-selector__title black">РУС</div>
                    <div class="q-lang-selector__arrow black"></div>
                </div>
                <div class="q-lang-selector__content">
                    <div class="q-lang-selector__item">
                        <input id="inp11" name="1" type="radio" checked>
                        <label for="inp11">РУС</label>
                    </div>
                    <div class="q-lang-selector__item">
                        <input id="2"  name="1" type="radio">
                        <label for="2">KZ</label>
                    </div>
                    <div class="q-lang-selector__item">
                        <input id="3"  name="1" type="radio">
                        <label for="3">EN</label>
                    </div>
                </div>
            </div>
            <div class="header-person hide-xs">
                <!-- <span class="photo" style="background-image: url(../images/man.png);"></span> -->
                <span class="initials">К.К.</span>
                <span class="text hide-md hide-xs">Моё обучение</span>
                <span class="count">12</span>
                <span class="name hide-md hide-xs">Д. Константинопольский</span>
            </div>
            <div class="header-logout hide-xs">
                <i class="q-icon logout"></i>
            </div>
            <div id="show-menu" class="header-button">
                <i class="q-icon menu hide-lg hide-md show-xs"></i>
            </div>
        </div>
    </div>
</div>
