<div class="sidebar">
    @@include('logo.html')

    <div class="sidebar-menu">
        <div class="sidebar-menu-section">
            <div class="sidebar-menu-section__title">
                Main
            </div>
            <div class="sidebar-menu-section__link active">
                Tracker
            </div>
            <div class="sidebar-menu-section__link">
                Tracker
            </div>
            <div class="sidebar-menu-section__link">
                Tracker
            </div>
        </div>
        <div class="sidebar-menu-section">
            <div class="sidebar-menu-section__title">
                Main
            </div>
            <div class="sidebar-menu-section__link">
                Tracker
            </div>
            <div class="sidebar-menu-section__link">
                Tracker
            </div>
            <div class="sidebar-menu-section__link">
                Tracker
            </div>
        </div>
    </div>

    <div class="sidebar-progress">
        <div class="sidebar-progress__text">
            Trial: 35%
        </div>
        <div class="sidebar-progress-bar">
            <div class="sidebar-progress-bar__thumb" style="width: 35%"></div>
        </div>
    </div>
</div>